Plugins>ImageScience>TransformJ, "TransformJ Affine", transformj.TJ_Affine
Plugins>ImageScience>TransformJ, "TransformJ Crop", transformj.TJ_Crop
Plugins>ImageScience>TransformJ, "TransformJ Embed", transformj.TJ_Embed
Plugins>ImageScience>TransformJ, "TransformJ Matrix", transformj.TJ_Matrix
Plugins>ImageScience>TransformJ, "TransformJ Mirror", transformj.TJ_Mirror
Plugins>ImageScience>TransformJ, "TransformJ Options", transformj.TJ_Options
Plugins>ImageScience>TransformJ, "TransformJ Panel", transformj.TJ_Panel
Plugins>ImageScience>TransformJ, "TransformJ Rotate", transformj.TJ_Rotate
Plugins>ImageScience>TransformJ, "TransformJ Scale", transformj.TJ_Scale
Plugins>ImageScience>TransformJ, "TransformJ Translate", transformj.TJ_Translate
Plugins>ImageScience>TransformJ, "TransformJ Turn", transformj.TJ_Turn
Help>About Plugins, "TransformJ...", transformj.TJ_Help
